// make fieldsets more easy to open/close
fieldset.tl_box {
    > legend {
        width: 100%;

        > button {
            width: 100%;
        }
    }
}

#paste_hint p, .sort_hint {
    pointer-events: none;
}

// Highlight selcted items when using 'edit multiple'
.tl_file, .tl_folder, .tl_content {
    &:has(input[type="checkbox"]:checked) {

        &, .inside {
            background-color: var(--hover-row, #fffce1);
        }
    }
}

.tl_checkbox_container {
    input[type="checkbox"]:checked + label {
        background-color: var(--hover-row, #fffce1);
    }
}