fieldset.tl_box > legend {
  width: 100%;
}
fieldset.tl_box > legend > button {
  width: 100%;
}

#paste_hint p, .sort_hint {
  pointer-events: none;
}

.tl_file:has(input[type=checkbox]:checked), .tl_file:has(input[type=checkbox]:checked) .inside, .tl_folder:has(input[type=checkbox]:checked), .tl_folder:has(input[type=checkbox]:checked) .inside, .tl_content:has(input[type=checkbox]:checked), .tl_content:has(input[type=checkbox]:checked) .inside {
  background-color: var(--hover-row, #fffce1);
}

.tl_checkbox_container input[type=checkbox]:checked + label {
  background-color: var(--hover-row, #fffce1);
}
