fieldset.tl_box > legend {
  width: 100%;
}
fieldset.tl_box > legend > button {
  width: 100%;
}

#paste_hint p, .sort_hint {
  pointer-events: none;
}

.tl_panel:has(> .tl_submit_panel) {
  display: flex;
  flex-direction: row-reverse;
}
.tl_panel:has(> .tl_submit_panel) .tl_submit_panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
}
.tl_panel:has(> .tl_submit_panel) .tl_submit_panel > button {
  top: unset;
  width: 2rem;
  height: 32px;
  font-size: 0;
  background-color: var(--form-bg, #fff);
  border: 1px solid var(--form-border, #aaa);
  border-radius: 0.25rem;
}
.tl_panel:has(> .tl_submit_panel) .tl_submit_panel > button:last-child {
  opacity: 0.5;
  pointer-events: none;
}
.tl_panel:has(> .tl_submit_panel) .tl_submit_panel > button:hover {
  background-color: var(--form-bg-hover, #f6f6f6);
}

.tl_formbody :has(.active) .tl_submit_panel > button:last-child {
  opacity: unset !important;
  pointer-events: unset !important;
}

.tl_file:has(input[type=checkbox]:checked), .tl_file:has(input[type=checkbox]:checked) .inside, .tl_folder:has(input[type=checkbox]:checked), .tl_folder:has(input[type=checkbox]:checked) .inside, .tl_content:has(input[type=checkbox]:checked), .tl_content:has(input[type=checkbox]:checked) .inside {
  background-color: var(--hover-row, #fffce1);
}

.tl_checkbox_container input[type=checkbox]:checked + label {
  background-color: var(--hover-row, #fffce1);
}
